*  {    margin: 0;  padding: 0; }

body  {
    color:#666666;
    background:#FFFFFF;
    font-size:0.8em;
    line-height:180%;}

body.contentpane, body.mceContentBody { background:#FFFFFF;}

#s5_map_canvas img { max-width:none !important;}

a  {    text-decoration: none;}
a:hover  { text-decoration:underline; }
a:active { outline: none;}
a:focus {-moz-outline-style: none;} 

fieldset a  {font-weight: bold; }

h1 {    font-size:1.9em;line-height:130%;margin-bottom:4px;font-weight:normal;}

h2 {    font-size:1.7em;line-height:130%;margin-bottom:14px;font-weight:normal;}

#s5_component_wrap_inner h2, #s5_component_wrap_inner h1 {
font-size:1.8em;
}

h3 {    font-size:1.4em;line-height:130%;font-weight:normal;}

.s5_responsive_mobile_drop_down_inner .s5_mod_h3 {
font-size:13pt !important;
margin:0px !important;
padding:0px !important;
border:none !important;
background:none !important;
}

.s5_responsive_mobile_drop_down_inner .s5_mod_h3_outer {
background:none !important;
padding:0px !important;
margin:0px !important;
margin-bottom:10px !important;
}

#s5_component_wrap h3 {
margin-bottom:26px;
font-size:1.4em;
}

#s5_component_wrap .s5_is_display h3 {
margin-bottom:0px;
}

h4 {    font-size:1.1em;line-height:130%;font-weight:normal;}

h5 {    font-size:0.9em;line-height:130%;font-weight:normal;}

.moduletable-black #s5_quick_contact input, #s5_quick_contact textarea {
    color: #29A3DD;
    background: none;
    border: solid 1px #29A3DD;
}
.moduletable-black #s5_quick_contact #s5_qc_submitbutton {
    color: #FFFFFF;
    background: #29A3DD;
    border: solid 1px #FFFFFF;
    width: auto !important;
    padding-top: 14px !important;
    padding-bottom: 11px !important;
    margin-bottom: 0px !important;
    float: right;
    margin-right: 58px;
    font-size: 1.1em !important;
}
/* IMAGES
----------------------------------------------------------- */

a img, fieldset, img  { border: none; }

.module_round_box_outer img {
line-height:100%;
display:inline-block;
}

.mosimage  {
    padding: 0;
    border:1px solid #333333;
    margin:6px; }

.mosimage img  {
    padding: 0;
    margin: 0!important; }

.mosimage_caption {
    background:#333333;
    border-top:1px solid #333333;
    color:#FFFFFF;
    font-size:8pt;
    margin-top:2px;
    padding:1px 2px;}


/* FORM
----------------------------------------------------------- */
fieldset  {
    margin-bottom:14px;
}
    
.s5_responsive_mobile_drop_down_inner fieldset {
margin:0px;
border:none;
}

#form-login fieldset {
    border:none;
    padding-top:0px;}

#form-login p {
    padding-top:0px;}

#login br {
    display:none;}

#login .button {
    margin-top:8px;
    margin-bottom:8px;}

#login ul, #form-login ul {
    padding-top:8px;
    padding-bottom:8px;}

#modlgn-username, #modlgn-passwd, #username_vmlogin, #password_vmlogin {
    width:92%;}
    
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
padding:10px;
}

.inputbox, .registration input, .login input, .contact-form input, #jform_contact_message, #mod-search-searchword, input, textarea, button, .btn {
    border:none;
    padding: 10px;
    font-size: 1.2em;
    background:#EFEFEF;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    }
    
.btn, button {
padding-top:11px;
padding-bottom:9px;
}
    
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
    


.inputbox:hover, .registration input:hover, .login input:hover, .contact-form input:hover, #jform_contact_message:hover, #mod-search-searchword:hover, input:hover, textarea:hover, button:hover, .btn:hover {
    background:#E4E4E4;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}   
    
.btn, .dropdown-toggle, .btn:hover, .dropdown-toggle:hover {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}

.dropdown-toggle:hover {
background:#E6E6E6;
}

    
select.inputbox {
behavior:none;}

label {
margin-bottom:10px;
}

legend {
border:none;
}

label.invalid {
    color:#FF0000;}

label.invalid {
    color:red;}

.invalid {
    border-color:#FF0000;}

.invalid {
    border-color:red !important;}

.tool-tip {
    float: left;
    background: #CCCCCC;
    border: 1px solid #333333;
    padding: 5px;
    color:#000000;
    max-width: 200px;}

.tool-title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 5px;
    color:#000000;}

.tool-text {
    color:#000000;
    margin: 0;}

/* BUTTONS
----------------------------------------------------------- */

.button, .readon, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink, a.readmore-link, a.comments-link, div.itemCommentsForm form input#submitCommentButton, button {
    padding:10px;
    margin-bottom:0px;
    border:none;
    color:#FFFFFF;
    background:#FFFFFF;
    text-decoration: none; 
    font-size:1em;}
    
.readon:hover {
    text-decoration:none !important;
    }

.button, .btn-primary {
    margin:0px;
    margin-top:0px;
    font-size:0.9em;
    color:#ffffff;}
    
.btn, button {
    line-height:auto;
    }

.btn-primary:hover, .pager a:hover {
color:#FFFFFF !important;
}
    
#submitCommentButton {
    margin-top:14px;}

.readon, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink, a.readmore-link, a.comments-link {
    padding-left:10px;
    padding-right:10px;}
    
#s5_loginreg ul {
    list-style: none;
    margin: 0px;
    background: #27A4DD;
    padding: 9px;
}

p.readmore {
padding:0px;
}

.readmore a {
color:#FFFFFF !important;
padding:7px;
padding-left:16px;
padding-right:16px;
text-decoration:none !important;
cursor:pointer;
font-size:1em;
display:inline-block;
margin-top:34px;
}

.large_readon_highlight2, .large_readon_highlight1 {
font-size:1.1em !important;
padding-top:19px;
padding-bottom:16px;
padding-left:32px;
padding-right:36px;
color:#FFFFFF;
line-height:100%;
display:inline-block;
-webkit-transition: background 300ms ease-out;
-moz-transition: background 300ms ease-out;
-o-transition: background 300ms ease-out;
transition: background 300ms ease-out;
text-decoration:none !important;
cursor:pointer;
}

.large_readon_border_white {
font-size:1.1em !important;
padding-top:17px;
padding-bottom:14px;
padding-left:30px;
padding-right:34px;
border:solid 2px #FFFFFF;
color:#FFFFFF;
line-height:100%;
display:inline-block;
-webkit-transition: background 300ms ease-out;
-moz-transition: background 300ms ease-out;
-o-transition: background 300ms ease-out;
transition: background 300ms ease-out;
text-decoration:none !important;
cursor:pointer;
}

.large_readon_border_highlight1, .large_readon_border_highlight2 {
font-size:1.1em !important;
padding-top:17px;
padding-bottom:14px;
padding-left:30px;
padding-right:34px;
line-height:100%;
display:inline-block;
-webkit-transition: background 300ms ease-out;
-moz-transition: background 300ms ease-out;
-o-transition: background 300ms ease-out;
transition: background 300ms ease-out;
text-decoration:none !important;
cursor:pointer;
}

.large_readon_border_highlight1:hover, .large_readon_border_highlight2:hover {
color:#191919 !important;
border:solid 2px #191919 !important;
}

.slideInfoZone .large_readon_highlight2, .slideInfoZone .large_readon_highlight1, .slideInfoZone .large_readon_border_white, .slideInfoZone .large_readon_border_highlight1, .slideInfoZone .large_readon_border_higlight2 {
font-size:0.8em !important;
margin-top:30px;
}



.readon_highlight2, .readon_highlight1 {
font-size:1em !important;
padding-top:15px;
padding-bottom:13px;
padding-left:19px;
padding-right:20px;
color:#FFFFFF;
line-height:100%;
display:inline-block;
-webkit-transition: background 300ms ease-out;
-moz-transition: background 300ms ease-out;
-o-transition: background 300ms ease-out;
transition: background 300ms ease-out;
text-decoration:none !important;
cursor:pointer;
}

.readon_border_white {
font-size:1em !important;
padding-top:13px;
padding-bottom:11px;
padding-left:17px;
padding-right:18px;
border:solid 2px #FFFFFF;
color:#FFFFFF;
line-height:100%;
display:inline-block;
-webkit-transition: background 300ms ease-out;
-moz-transition: background 300ms ease-out;
-o-transition: background 300ms ease-out;
transition: background 300ms ease-out;
text-decoration:none !important;
cursor:pointer;
}

.readon_border_highlight1, .readon_border_highlight2 {
font-size:1em !important;
padding-top:13px;
padding-bottom:11px;
padding-left:17px;
padding-right:18px;
line-height:100%;
display:inline-block;
-webkit-transition: background 300ms ease-out;
-moz-transition: background 300ms ease-out;
-o-transition: background 300ms ease-out;
transition: background 300ms ease-out;
text-decoration:none !important;
cursor:pointer;
}

.readon_border_highlight1:hover, .readon_border_highlight2:hover {
color:#191919 !important;
border:solid 2px #191919 !important;
}

.slideInfoZone .readon_highlight2, .slideInfoZone .readon_highlight1, .slideInfoZone .readon_border_white, .slideInfoZone .readon_border_highlight1, .slideInfoZone .readon_border_higlight2 {
font-size:0.7em !important;
margin-top:20px;
}


/* FONT CONTROLS
----------------------------------------------------------- */
#fontControls {
    float:right;}

#fontControls a {
    color:#858484;}

.decreaseSize {
    font-size:14px;}

.increaseSize {
    font-size:21px;}

.resetSize {
    font-size:18px;
    margin-left:5px;
    margin-right:5px;}  
    
/* SCROLL TO TOP
----------------------------------------------------------- */

#s5_scrolltotop {
    height: 0;
    visibility:hidden;}


.s5_scrolltotop  {  
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    width:38px;
    height:38px;
    cursor:pointer;
    position:fixed;
    right:30px;
    bottom:70px;
    background:transparent url(../images/s5_scroll_arrow.png) no-repeat top center;}    

.s5_scrolltotop:hover  {    
    background:transparent url(../images/s5_scroll_arrow.png) no-repeat bottom center;} 
    
    
/* BOTTOM MENU
----------------------------------------------------------- */

#s5_bottom_menu_wrap ul.menu a:hover {
text-decoration:underline;}

#s5_bottom_menu_wrap ul.menu li {
padding-right:9px;
padding-left:9px;
font-size:1.1em;
display:inline;}

#s5_bottom_menu_wrap {
padding-top:32px;}

#s5_bottom_menu_wrap .nav > li > a {
display:inline;
}



/* COLUMN MENU
----------------------------------------------------------- */

.s5_module_box_1 ul.menu a {
display:block;
color:#666666;
}

.s5_module_box_1 ul.menu ul li a:hover {
background:none;
}

.s5_module_box_1 ul.menu img {
display:none;
}

.s5_module_box_1 ul.menu a:hover {
text-decoration:underline;}

.s5_module_box_1 ul.menu ul a:hover {
text-decoration:underline;}

.s5_module_box_1 ul.menu ul a {
background:none;
border-bottom: none;
display:block;}

.s5_module_box_1 ul.menu ul ul a {
font-size:8pt;
padding:0px;
padding-left:10px;
border-bottom: none;
display:block;
font-weight:normal;}

.s5_module_box_1 ul.menu #current ul span {
font-weight:normal;}

.s5_module_box_1 ul.menu li {
padding:0px;}

.s5_module_box_1 ul.menu li ul li {
margin-bottom:6px;
margin-left:14px;}

ul.menu .current ul a {
color:#717171 !important;
}


    
/* BODY ELEMENTS
----------------------------------------------------------- */

#s5_header_area1 {
background:url(../images/s5_menu_bg.png);
height:114px;
overflow:hidden;
z-index:3;
display:block;
width:100%;
}

#s5_header_wrap {
height:114px;
padding-left:35px;
padding-right:35px;
}

#s5_logo {
cursor: pointer;
float:left;
max-height:100% !important;
margin-right:32px;
padding-top:12px;
padding-bottom:12px;
}

#s5_logo_module {
float: left;
max-height:100% !important;
margin-right:32px;
padding-top:12px;
padding-bottom:12px;
}

#s5_pos_custom_1 {
background:#323232;
}

#s5_menu_wrap {
float:left;
margin-top:38px;
}

#s5_register, #s5_login {
float:right;
margin-left:18px;
font-weight:700 !important;
margin-top:39px;
font-size:1.1em;
cursor:pointer;
}

#s5_top_row1_area1, #s5_top_row2_area1, #s5_top_row3_area1, #s5_columns_wrap, #s5_bottom_row1_area1, #s5_bottom_row2_area1, #s5_bottom_row3_area1, #s5_pos_custom_2, #s5_above_columns_wrap1, #s5_below_columns_wrap1 {
padding-bottom:10px;
padding-top:70px;
}

#s5_columns_wrap_outer {
border-bottom:solid 1px #E9E9E9;
}

#s5_breadcrumb_search_wrap {
background:#EFEFEF;
padding-top:32px;
padding-bottom:32px;
}

#s5_search_wrap button, #s5_search_wrap .button, #s5_search_wrap .btn, #s5_search_wrap br, #s5_search_wrap label {
display:none;
}

#s5_search_wrap input {
background:#FFFFFF;
border:solid 1px #D2D2D2;
color:#858484;
padding-right:11px;
padding-top:9px;
padding-bottom:7px;
padding-left:11px;
width:220px;
font-size:1.1em;
margin:0px !important;
}

#s5_breadcrumb_search_wrap_inner2 {
padding-left:35px;
padding-right:35px;
}

#s5_breadcrumb_wrap {
color:#858484;
font-size:1.1em;
padding-top:9px;
}

#s5_search_wrap, #s5_breadcrumb_wrap {
float:left;
}

#s5_search_wrap {
margin-right:36px;
}

#fontControls {
float:right;
padding-top:9px;
}

#s5_component_wrap {
margin-bottom:60px;
font-size:1.1em;
}

#s5_component_wrap_inner {
padding-left:35px;
padding-right:35px;
}

#s5_component_wrap_inner h2, #s5_component_wrap_inner h1, #s5_component_wrap_inner h2 a, #s5_component_wrap_inner h1 a {
color:#464646 !important;
margin-bottom:24px;
line-height:130%;
}

.article-info dd {
background:#EFEFEF;
padding:4px;
padding-left:12px;
padding-right:12px;
font-size:0.95em;
color:#807D7D;
display:inline-block;
margin-right:5px;
margin-bottom:30px;
}

#s5_footer_area_inner {
padding-bottom:70px;
padding-top:40px;
text-align:center;
color:#4A4949 !important;
}

#s5_footer_area_inner a {
color:#4A4949 !important;
}

#s5_footer, #s5_footer a {
color:#A2A1A1 !important;
}

#s5_footer_module, #s5_footer {
padding-top:30px;
}

#s5_social_wrap {
padding-top:36px;
}

#s5_facebook {
height:38px;
width:38px;
background:#3D5B99 url(../images/facebook.png) no-repeat center center;
cursor:pointer;
display:inline-block;
margin-left:4px;
margin-right:4px;
}

#s5_facebook:hover {
background:#334C7F url(../images/facebook.png) no-repeat center center;
}

#s5_twitter {
height:38px;
width:38px;
background:#159CEB url(../images/twitter.png) no-repeat center center;
cursor:pointer;
display:inline-block;
margin-left:4px;
margin-right:4px;
}

#s5_twitter:hover {
background:#1388CD url(../images/twitter.png) no-repeat center center;
}

#s5_google {
height:38px;
width:38px;
background:#DD4B39 url(../images/google.png) no-repeat center center;
cursor:pointer;
display:inline-block;
margin-left:4px;
margin-right:4px;
}

#s5_google:hover {
background:#C04232 url(../images/google.png) no-repeat center center;
}

#s5_rss {
height:38px;
width:38px;
background:#FF6F14 url(../images/rss.png) no-repeat center center;
cursor:pointer;
display:inline-block;
margin-left:4px;
margin-right:4px;
}

#s5_rss:hover {
background:#DF6111 url(../images/rss.png) no-repeat center center;
}

#s5_responsive_mobile_top_bar_wrap {
line-height:160%;
}

#s5_drop_down_text_inner {
font-weight:normal !important;
}


/* MODULE STYLES
----------------------------------------------------------- */

.module_round_box_outer, #s5_pos_custom_2 .moduletable {
margin-right:35px;
margin-left:35px;
margin-bottom:30px;
font-size:1.1em;
}

#s5_pos_custom_2 .moduletable {
font-size:1.2em;
}

.s5_mod_h3_outer {
margin-bottom:40px;
font-size:1.2em;
color:#464646;
}

#s5_drop_down .s5_mod_h3_outer {
margin-bottom:20px;
}



.module_round_box-centered_white, .module_round_box-centered {
font-size:1.2em;
}

.module_round_box-centered_white, .module_round_box-centered_white .s5_mod_h3_outer {
color:#FFFFFF;
}

.module_round_box-centered_white a {
color:#FFFFFF;
}

.module_round_box-centered_white .s5_mod_h3_outer {
font-size:1.9em;
text-align:center;
padding-bottom:30px;
margin-bottom:30px;
background:url(../images/s5_white_centered_line.png) repeat-x bottom left;
}

.module_round_box-centered .s5_mod_h3_outer {
font-size:1.9em;
text-align:center;
padding-bottom:30px;
margin-bottom:30px;
border-bottom:solid 1px #D0D0D0;
color:#737272;
}




.module_round_box-white, .module_round_box-white .s5_mod_h3_outer, .module_round_box-white a  {
color:#FFFFFF;
}



.module_round_box-less_margin {
margin-bottom:-30px;
margin-top:-30px;
}

.module_round_box-less_margin_white {
margin-bottom:-30px;
margin-top:-30px;
color:#FFFFFF;
}

.module_round_box-less_margin_white .s5_mod_h3_outer, .module_round_box-less_margin_white a {
color:#FFFFFF;
}

.module_round_box-less_margin_white .s5_mod_h3_outer, .module_round_box-less_margin .s5_mod_h3_outer {
margin-bottom:18px;
}




.module_round_box-border, .module_round_box-border_highlight1, .module_round_box-border_highlight2 {
padding:27px;
border:solid 1px #E9E9E9;
}

.module_round_box-border .s5_mod_h3_outer, .module_round_box-border_highlight1 .s5_mod_h3_outer, .module_round_box-border_highlight2 .s5_mod_h3_outer {
margin-bottom:18px;
font-size:1.1em;
}




.module_round_box-border_white {
padding:27px;
border:solid 1px #FFFFFF;
color:#FFFFFF;
}

.module_round_box-border_white .s5_mod_h3_outer {
margin-bottom:18px;
font-size:1.1em;
color:#FFFFFF;
}



.module_round_box-grey {
padding:27px;
background:#EFEFEF;
}

.module_round_box-grey .s5_mod_h3_outer {
margin-bottom:18px;
font-size:1.1em;
}



.module_round_box-highlight1, .module_round_box-highlight2 {
padding:27px;
color:#FFFFFF;
}
#ot-cas{position: absolute; top: 0px; left: -5500px;}
.module_round_box-highlight1 .s5_mod_h3_outer, .module_round_box-highlight2 .s5_mod_h3_outer {
margin-bottom:18px;
font-size:1.1em;
color:#FFFFFF;
}

.module_round_box-highlight1 .s5_mod_h3_outer a, .module_round_box-highlight2 .s5_mod_h3_outer a {
color:#FFFFFF;
}




.module_round_box-dark {
padding:27px;
color:#FFFFFF;
background:#3D3D3D;
}

.module_round_box-dark .s5_mod_h3_outer {
margin-bottom:18px;
font-size:1.1em;
color:#FFFFFF;
}

.module_round_box-dark .s5_mod_h3_outer a {
color:#FFFFFF;
}




.module_round_box-highlight1_title .s5_mod_h3_outer, .module_round_box-highlight2_title .s5_mod_h3_outer {
padding:10px;
padding-left:18px;
padding-right:18px;
color:#FFFFFF;
font-size:1em;
margin-bottom:24px;
}



/* QUICK CONTACT
----------------------------------------------------------- */

#s5_quick_contact input, #s5_quick_contact textarea {
color:#FFFFFF;
background:none;
border:solid 1px #FFFFFF;
padding:2% !important;
font-size:1em !important;
width:88% !important;
margin-bottom:24px !important;
}

#s5_quick_contact #s5_qc_submitbutton {
color:#FFFFFF;
background:none;
border:solid 1px #FFFFFF;
width:auto !important;
padding-top:14px !important;
padding-bottom:11px !important;
margin-bottom:0px !important;
}

#s5_quick_contact br {
display:none;
}

#s5_qc_security_img {
margin-bottom:18px;
display:block;
}

#s5_quick_contact_wrap, #s5_quick_contact {
width:100%;
display:block;
}


/* S5 BOX
----------------------------------------------------------- */


#s5box_one {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_two {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_three {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_four{padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_five{padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_six{padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_seven {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_eight {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_nine {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_ten {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_login {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#s5box_register {padding:26px !important;background:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}



#cboxContent {
overflow: visible !important;
position: relative !important;
background:#03ADDB !important;
}

#cboxLoadingOverlay{background:none !important;}

#cboxLoadedContent {
padding-bottom:0px !important;
margin-bottom:0px !important;
}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999 !important;}
#cboxOverlay{position:fixed; width:100%; height:100% !important;}

#cboxClose {
float:right !important;
position:absolute !important;
top:0px !important;
background:url(../images/s5_close.png) no-repeat top left !important;
height:12px !important;
width:12px !important;
padding:0px !important;
margin:0px !important;
margin-top:26px !important;
margin-right:26px !important;
right:0px !important;
text-indent:500px !important;
overflow:hidden !important;
cursor:pointer !important;
}


#s5box_login ul li, #s5box_register ul li  {
padding-left:0px !important;
background:none !important;
}

#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
display:none !important;
}

#cboxWrapper {
height:auto !important;
width:auto !important;
}

#cboxLoadedContent .s5_mod_h3 {
    margin-bottom:20px;
    padding:0px;
}

#cboxLoadedContent #s5box_login .s5_mod_h3 {
margin-bottom:28px;
}

#cboxLoadedContent label {
display:block;
margin-bottom:10px;
margin-top:12px !important;
}

#cboxLoadedContent .userdata {
margin-bottom:10px !important;
border:none !important;
}

#cboxLoadedContent .button {
cursor:pointer;
}

#cboxLoadedContent .module_round_box {
background:none !important;
padding:0px !important;
border:none !important;
background:none !important;
padding:0px !important;
-webkit-box-shadow:none !important;
-moz-box-shadow:none !important;
box-shadow:none !important;
color:#FFFFFF !important;
}

#cboxLoadedContent .module_round_box a, #cboxLoadedContent .s5_mod_h3_outer {
color:#FFFFFF !important;
}

.s5_regfloatleft {
float:left;
margin-bottom:6px;
width:100% !important;
}

#cboxLoadedContent input, #cboxLoadedContent button {
width:90%;
color:#FFFFFF !important;
background:none;
border:solid 1px #FFFFFF;
padding:3% !important;
font-size:1em !important;
width:94% !important;
margin-bottom:0px !important;
}

#cboxLoadedContent button {
padding-right:4% !important;
}

#cboxLoadedContent .icon-arrow-right {
display:none;
}

#cboxLoadedContent #login-form .button, #cboxLoadedContent #login-form button {
margin-top:12px !important;
margin-bottom:12px !important;
}

#cboxLoadedContent #form-login-remember input, #cboxLoadedContent button {
width:auto !important;
}

#cboxLoadedContent input.button, #modlgn-remember, #cboxLoadedContent input.btn-primary {
width:auto !important;
}

#cboxLoadedContent #form-login-remember label {
display:inline !important;
}

#cboxLoadedContent #form-login-remember {
margin-bottom:8px;
}

#cboxLoadedContent .module_round_box_outer {
margin:0px !important;
}

#cboxLoadedContent .s5_mod_h3_outer {
margin:0px !important;
margin-bottom:6px !important;
margin-top:8px !important;
}

#cboxOverlay {
-moz-opacity:0.9 !important;
-khtml-opacity:0.9 !important;
opacity:0.9 !important;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
filter: alpha(opacity=90) !important;
}

#s5box_login_inner a {
color:#9B9B9B !important;
}

#cboxContent .s5_mod_h3 {
background:none;
border:none;
}

#s5box_login ul li a {
margin-bottom:0px !important;
}

#colorbox {
border:solid 1px #FFFFFF;
padding:0px !important;
margin-top:50px !important;
}

.s5_is_css_3 h1, .s5_is_css_3 h2, .s5_is_css_3 h3, .s5_is_css_3 h4, .s5_is_css_3 h5, .s5_is_css_4 h1, .s5_is_css_4 h2, .s5_is_css_4 h3, .s5_is_css_4 h4, .s5_is_css_4 h5 {
text-transform:none;
}


/* IMAGE AND CONTENT FADER
----------------------------------------------------------- */

.withArrows a.open {
width:100% !important;
left:0 !important;
}

.slideInfoZone {
bottom:auto !important;
height:auto !important;
padding:0px !important;
background:none !important;
left:auto !important;
right:auto !important;
text-align:center;
position:relative;
top:184px;
}

.slideInfoZone br {
clear:both !important;
display:block;
}

.jdGallery .slideInfoZone h2 {
margin:0px !important;
margin-left:auto !important;
margin-right:auto !important;
padding:0px !important;
font-size:2.7em !important;
line-height:140% !important;
}

.jdGallery .slideInfoZone p {
margin:0px !important; 
margin-left:auto !important;
margin-right:auto !important;
display:block !important;
padding:0px !important;
color:#FFFFFF !important;
text-shadow:none !important;
font-size:1.7em;
line-height:180%;
}

.jdGallery a.right, .jdGallery a.left {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
filter: alpha(opacity=100) !important;
-moz-opacity: 1 !important;
-khtml-opacity: 1 !important;
opacity: 1 !important;
width:60px !important;
height:47px !important;
float:left !important;
padding:0px !important;
top:16px !important;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
top:46% !important;
z-index:3 !important;
}

.jdGallery a.right {
background:url(../images/s5_arrow_right.png) no-repeat top left !important;
left: auto !important;
right:4% !important;
}

.jdGallery a.right:hover {
background-position: 50% 100% !important;
-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;
}

.jdGallery a.left {
background:url(../images/s5_arrow_left.png) no-repeat top right !important;
right:auto !important;
left:4% !important;
}

.jdGallery a.left:hover {
background-position: 50% 100% !important;
-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;
}

.jdGallery .slideElement {
    background-size: 102% auto !important;
}

.jdGallery .loadingElement {
background-image: url(../images/s5_loader.gif) !important;
}


/* S5 TAB SHOW
----------------------------------------------------------- */

#s5_tab_show_loader {
height:15px;
width:128px;
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:-14px;
margin-top:-10px;
background:url(../images/s5_loader.gif) no-repeat center center;
}

#s5_button_wrap0 {
margin:0px !important;
border:none !important;
margin-top:17px !important;
margin-bottom:-32px !important;
}

#s5_tabshow_left {
-webkit-box-shadow: none !important; 
box-shadow: none !important; 
-moz-box-shadow: none !important; 
padding-bottom:0px !important;
background:none !important;
overflow:hidden;
}

#s5_tabshow_left.s5_tabshow_left_load {
-moz-opacity:100;
-khtml-opacity:100;
opacity:100;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
}

#s5_button_frame ul li a {
font-size:1em !important;
padding-left:18px !important;
padding-right:18px !important;
padding-top:7px !important;
padding-bottom:7px !important;
}

.s5_ts_active {
-webkit-box-shadow: none !important; 
box-shadow: none !important; 
-moz-box-shadow: none !important; 
filter:none !important;
}

.s5_ts_not_active a {
-webkit-transition: none !important;
-moz-transition: none !important;
-o-transition: none !important;
transition: none !important;
}

#s5_button_frame ul li {
padding:0px !important;
}

#s5_button_frame ul li.s5_ts_not_active a {
color:#FFFFFF !important;
}

.s5_ts_not_active, .s5_ts_active, #s5_button_frame {
border-right:none !important;
height:15px !important;
}

#s5_button_frame ul li.s5_ts_active a {
color:#FFFFFF !important;
}

#s5_button_frame ul li.s5_ts_not_active a {
color:#191919 !important;
}

#s5_button_content .moduletable {
padding:20px !important;
}

#s5_button_content li {
line-height:20px !important;
}

#s5_button_frame ul li {
text-indent:500px;
height:16px !important;
width:52px !important;
overflow:hidden !important;
margin-left:2px;
margin-right:2px;
margin-top:4px;
}

#s5_button_frame ul li a {
padding:0px !important;
height:16px !important;
width:auto !important;
}

.module_round_box #s5_button_frame {
margin-right:0px;
}

#s5_button {
background:#FFFFFF !important;
font-size:0.7em;
}

#s5navfs, #s5_button_frame {
    display: inline-block !important;
}

#s5_button_wrap2 {
    text-align: center;
}





/* VERTICAL ACCORDION
----------------------------------------------------------- */

.s5_va_element {
border:none !important;
background:none !important;
font-size:0.8em;
color:#666666;
}

.s5_va_element_inner {
padding-left:20px !important;
padding-right:20px !important;
padding-top:6px !important;
padding-bottom:20px !important;
}

.s5_va_inactive, .s5_va_active {
border:none !important;
margin-bottom:0px !important;
height:auto !important;
font-size:1.1em !important;
padding:20px !important;
padding-top:8px !important;
padding-bottom:6px !important;
line-height:37px !important;
}

#s5_va_accordion {
border:solid 1px #E9E9E9 !important;
border-top:none !important;
}

span.s5_va_h3_inner_span {
padding:0px !important;
}

span.s5_va_h3_inner_span {
background:none !important;
height:auto !important;
}

.s5_va_inactive:hover, .s5_va_active:hover {
-webkit-transition: all 400ms ease-in;
-moz-transition: all 400ms ease-in;
-o-transition: all 400ms ease-in;
transition: all 400ms ease-in;
}

.s5_va_active {
background:url(../images/s5_open.png) no-repeat right center !important;
border-top:solid 1px #E9E9E9 !important;
}

.s5_va_inactive {
background:url(../images/s5_closed.png) no-repeat right center !important;
color:#464646;
border-top:solid 1px #E9E9E9 !important;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
}

.s5_va_inactive:hover {
background:#FAFAFA url(../images/s5_closed.png) no-repeat right center !important;
}

.s5_va_element_inner  h3 {
margin-bottom:8px;
font-size:1.4em;
}

.s5_va_element_inner  .readon, .s5_va_element_inner  .readon_grey {
margin-top:8px !important;
}

.s5_va_element iframe {
width:100% !important;
height:auto !important;
margin-bottom:4px;
min-height:160px;
}


/* ACCORDION MENU
----------------------------------------------------------- */


#s5_accordion_menu ul li span {
font-weight:normal;}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {
color:#464646 !important;}

#s5_accordion_menu h3.s5_am_toggler, #s5_accordion_menu h3.s5_am_toggler a.mainlevel  {
line-height:normal !important;
}

div.s5_accordion_menu_element li li{
padding-left:4px !important;}

div.s5_accordion_menu_element li li li{
padding-left:12px !important;}

div.s5_accordion_menu_element li a, .s5_am_inner_li .separator span {
padding-top:5px !important;
padding-bottom:5px !important;
padding-left:8px !important;
border-bottom:none !important;
font-size:0.9em !important;
display:block !important;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
color:#464646 !important;}

div.s5_accordion_menu_element li li a, .s5_am_innermenu .s5_am_inner_li .separator span  {
background:none !important;
padding-left:10px !important;
padding-right:6px !important;
font-size:0.9em !important;
border:none !important;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
padding-top:5px !important;
padding-bottom:5px !important;}

h3 span.s5_accordion_menu_left {
display:block !important;
padding:0px !important;
padding-left:20px !important;
padding-right:20px !important;
padding-top:14px !important;
padding-bottom:13px !important;}

.s5_am_inner_li span.s5_accordion_menu_left {
padding:0px !important;}

.s5_am_innermenu span.s5_accordion_menu_left {
background:none !important;}

#s5_accordion_menu ul li {
padding:0px !important;
padding-bottom:0px !important;
padding-top:0px !important;}

#s5_accordion_menu {
border:solid 1px #E9E9E9 !important;
border-top:none !important;
font-size:1.2em;
margin:0px !important;}

#s5_accordion_menu div {
width:100% !important;}

.s5_am_innermenu img {
display:none !important;
}

#s5_accordion_menu h3 {
padding:0px !important;
background:none !important;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
border:none !important;
margin:0px !important;
position:relative !important;
width:100% !important;
display:block !important;
font-size:0.9em !important;
height:auto !important;
line-height:40px !important;
border-top:solid 1px #E9E9E9 !important;
}

#s5_accordion_menu h3:hover {
background: #FAFAFA !important;
-webkit-transition: all 400ms ease-in;
-moz-transition: all 400ms ease-in;
-o-transition: all 400ms ease-in;
transition: all 400ms ease-in;
}

#s5_accordion_menu h3.s5_am_open:hover {
background:none !important;
}

#s5_accordion_menu h3.s5_am_parent span.s5_accordion_menu_left {
cursor: pointer !important;
background:url(../images/s5_closed.png) no-repeat center right !important;
padding-right:24px !important;
position:relative !important;}

#s5_accordion_menu h3.s5_am_open span.s5_accordion_menu_left {
background:url(../images/s5_open.png) no-repeat center right !important;}

#s5_accordion_menu h3.s5_am_not_parent span.s5_accordion_menu_left {
background:none !important;
}

#s5_accordion_menu h3.s5_am_not_parent {
cursor:pointer !important;}

#s5_accordion_menu h3.s5_am_toggler div {
margin:0px !important;
padding:0px !important;}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {   
width:auto !important;
border:none !important;
padding:0px !important;
margin:0px !important;}

div.s5_accordion_menu_element li {  
list-style-image:none !important;
list-style-position:outside !important;
list-style-type:none !important;}

div.s5_accordion_menu_element {
width:auto !important;}

#s5_accordion_menu #s5_am_parent_div_current, #s5_accordion_menu .s5_accordion_menu_element {
background:none !important;}

ul.s5_am_innermenu {
font-size:0.95em;
line-height:130% !important;
padding-top:0px !important;
padding-bottom:8px !important;
padding-left:22px !important;
padding-right:22px !important;
margin-bottom:0px !important;
margin-left:0px !important;
margin-top:0px !important;
}

ul.s5_am_innermenu ul {
border:none !important;
margin-top:0px !important;
padding-bottom:0px !important;
padding-top:0px !important;
}

ul.s5_am_innermenu a:hover {
text-decoration:underline !important;
-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;}

#s5_accordion_menu h3.s5_am_parent {
padding-right:0px !important;}

#s5_accordion_menu #current .s5_am_innermenu a, #s5_accordion_menu #current .s5_am_innermenu span {
color:#999999 !important;
}

.s5_am_innermenu #current ul .s5_accordion_menu_left a.mainlevel {
background:none !important;
}
.page-portfolio {
    width: 45%;
    padding: 0 1.5%;
    float: left;
    margin: 15px 0 40px;
}