* {
  box-sizing: border-box;
}
menu {
  width: 100%;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
}
menu img {
  float: left;
}
menu a {
  float: right;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  margin-top: 30px;
}
menu a:hover {
  text-decoration: none;
  background-color: #ff4d42;
  color: white;
}
header {
  width: 100%;
  height: 600px;
}
header .custom_bot_container {
  width: 100%;
}
header .container {
  padding: 0;
}
header h1 {
  color: white;
  margin-top: -400px;
  font-size: 50px;
  margin-bottom: 0;
  padding: 0;
}
header p {
  color: white;
  font-size: 24px;
}
header a {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #f6d625;
  text-transform: uppercase;
  font-size: 24px;
}
header a:hover {
  text-decoration: none;
  background-color: #ff4d42;
  color: white;
}
#move {
  padding-top: 40px;
  background-color: #f6d625;
  padding-bottom: 40px;
}
#news {
  margin-bottom: 50px;
}
#news h1,
#news p,
#news img {
  width: 100%;
}
#news img {
  margin: 20px 0 20px;
}
#news a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f6d625;
  color: white;
}
#news a:hover {
  text-decoration: none;
  background-color: #ff4d42;
  color: white;
}
#dichCon {
  margin-bottom: 100px;
  color: gray;
}
#dichCon h1 {
  color: #464646;
  font-size: 26px;
}
#dichCon h2 {
  font-size: 20px;
  margin: 30px 0 30px;
}
#dichCon p {
  line-height: 1.7;
}
#dichCon .quote:before {
  content: "\"";
  padding: 0 20px;
  font-size: 24pt;
  text-align: center;
  line-height: 42px;
  color: #fff;
  background: #ddd;
  float: left;
  position: relative;
}
#dichCon a {
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  background-color: #ff4d42;
  font-size: 14px;
}
#dichCon a:hover {
  background-color: #f6d625;
  text-decoration: none;
}
#sendMessage {
  width: 100%;
  height: auto;
  background-color:  rgba(130, 36, 48, 1);
}
#sendMessage h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}
#sendMessage input[type="text"] {
  border: 1px solid white;
  border-radius: 0;
  background-color:  rgba(130, 36, 48, 1);
  text-align: left;
  color: white;
}
#sendMessage input[type="text"]:nth-child(1) {
  margin-top: 15px;
}
#sendMessage input[type="submit"] {
  padding: 10px;
  color: white;
  background-color:  rgba(130, 36, 48, 1);
  border: 1px solid white;
  text-transform: uppercase;
  margin-bottom: 50px;
}
#lessonMessage h2 {
  color: #666666;
  padding-top: 50px;
}
#lessonMessage p {
  color: gray;
  font-size: 18px;
}
#lessonMessage a {
  margin-top: 90px;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: rgba(130, 36, 48, 1);
  border-radius: 0;
}
#lessonMessage a:hover {
  background-color: #f6d625;
}
footer {
  margin-top: 60px;
}
footer .nav_linck a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}
footer .nav_linck a:hover {
  color: black;
}
footer p {
  margin-top: 30px;
  margin-bottom: 20px;
}
footer .social_linck a {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url(/web/public/img/SpriteSocial.jpg) no-repeat;
}
footer .social_linck a:nth-child(2) {
  background-position: -57px 0;
}
footer .social_linck a:nth-child(3) {
  background-position: -114px 0;
}
footer .social_linck a:nth-child(4) {
  background-position: -171px 0;
}

.carousel-caption{
  top: 150px;
}

.item img{
  height: 100% !important;
}


.carousel-control{
  background: rgba(255, 255, 255, 0.5) !important;
}


input::-webkit-input-placeholder {color: white;}
input::-moz-placeholder          {color: white;}
input:-moz-placeholder           {color: white;}
input:-ms-input-placeholder      {color: white;}




/*============    	АДАПТИВ    ===========*/



/*============ Мобильный телефон =========*/
@media (max-width: 480px) {
  header{
    display: none;
  }

  menu{
    position: relative;
    background-color: #953b39;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
  }

  menu img{
    display: none;
  }

  menu .container{
    width: 100%;

    padding: 0;
  }

  menu a{
    display: inline-block;
    width: 100%;
    margin: 5px;
    float: left;

  }

  menu div .container{
    display: flex;
  }

  .logo{
    display: none;
  }
}
/*===========================================*/