#dichCon input[type="text"] {

  background-color: #953b39;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: left;
  color: white;
}
#dichCon input[type="submit"] {
  float: right;
  padding: 10px 20px;
  background-color: #953b39;
  color: white;
  text-transform: uppercase;
  border: none;
}
#dichCon select {
  padding: 10px 20px;
  background-color: #efefef;
  border-radius: 0;
  font-size: 18px;
}
#dichCon h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
