#dichCon input[type="text"] {
  border: 1px solid rgba(255,77,66, 1);
  border-radius: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: left;
  color: rgba(255,77,66, 1);
}
#dichCon input[type="submit"] {
  float: right;
  padding: 10px 20px;
  background-color: rgba(255,77,66, 1);
  color: white;
  text-transform: uppercase;
  border: none;
}
#dichCon select {
  padding: 10px 20px;
  background-color: #efefef;
  border-radius: 0;
  font-size: 18px;
}
#dichCon h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
